

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        
         <!-- Start Mega Menu -->
         <li class="nav-item dropdown dropdown-mega position-static">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">What We Do</a>
          <div class="dropdown-menu shadow">

            <div class="mega-content px-5 py-3">
              <div class="container-fluid">
                <div class="row">

                  <!-- Mega Col 1 -->
                  <div class="col-12 col-md-4 py-4">
                    <div class="overline text-blue pb-2">Trucking Services
                    </div>
                    <ul>
                      <li class="navset"><a class="dropdown-item pb-1" href="#">Trucking Factoring</a>
                        <div class="small text-gray">Same-day funding for trucking companies.</div></li>
                      
                      <li class="navset"><a class="dropdown-item pb-1" href="blog.html">Fuel Card Program</a>
                        <div class="small text-gray">Substantial savings on diesel fuel.</div></li>
                  
                      <li class="navset"><a class="dropdown-item pb-1" href="#">Bundled Services</a>
                        <div class="small text-gray">Combine fuel and factoring services to save money.</div></li>
                    
                      <li class="navset"><a class="dropdown-item pb-1" href="blog.html">Mexican Trucking Factoring</a>
                        <div class="small text-gray">Factoring for trucking companies operating in Mexico.</div></li>                          
                    </ul>  
                  </div>

                  <!-- Mega Col 2 -->
                  <div class="col-12 col-md-4 py-4">
                    <div class="overline text-blue pb-2">Software
                    </div>
                    <ul>
                      <li class="navset"><a class="dropdown-item pb-1" href="#">RTS Pro</a>
                        <div class="small text-gray">Mobile and web app for factoring, fuel discounts, credit reports and more.</div></li>
                      
                      <li class="navset"><a class="dropdown-item pb-1" href="blog.html">ProTransport</a>
                        <div class="small text-gray">All-in-one fleet management software.</div></li>                     
                    </ul>  
                  </div>

                  <!-- Mega Col 3 -->
                  <div class="col-12 col-md-4 py-4">
                    <div class="overline text-blue pb-2">More Factoring Solutions
                    </div>
                    <ul>
                      <li class="navset"><a class="dropdown-item pb-1" href="#">Oilfield Factoring</a>
                        <div class="small text-gray">Factoring for oilfield services companies.</div></li>
                      
                      <li class="navset"><a class="dropdown-item pb-1" href="blog.html">International Factoring</a>
                        <div class="small text-gray">International trade finance in 40+ countries.</div></li>
                  
                      <li class="navset"><a class="dropdown-item pb-1" href="#">More Industries</a>
                        <div class="small text-gray">Factoring services for staffing, distribution, textile and manufacturing companies.</div></li>                          
                    </ul>  
                  </div>
                  <!--End Mega Cols -->

                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- End  Megamenu -->
        <!-- Start Top Menu -->
        <li class="nav-item">
          <a class="nav-link" href="#">Insights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Agents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <!-- End  Top Menu -->
      </ul>

    </div>
  </div>
</nav>

