#block-truckingservicesandsoftware {
  .container {
    padding: 0!important;
    .card-container > div {
      display: flex;

      div.field--type-image {
        flex-basis: fit-content;
        img {
          padding-right: 12px;
          &.img-fluid {
            max-width: fit-content!important;
          }
        }
      }
    }
  }
}